.sidebar {
  width: 250px;
  height: 100vh;
  color: #ecf0f110;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.menu {
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #007bff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
} */

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
  padding: 10px 15px;
  font-size: 1rem;
  color: #333232;
  border-radius: 8px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #ffffff;
  color: #ffffff;
}

.menu li svg {
  transition: color 0.3s ease;
}
.menu li svg:hover {
  color: #dbdfe3 !important;
  transition: color 0.3s ease;
}

.user-profile {
  margin-top: auto;
  display: flex;
  background: red;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 50px;
  width: 90%;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgba(134, 122, 122, 0.1);
  transition: background-color 0.3s ease;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #3498db;
  text-transform: uppercase;
}

.username {
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.logout-menu {
  position: absolute;
  top: -50px;
  right: 0;
  background: white;
  border-radius: 8px;
  padding: 8px 12px;
  min-width: 120px;
  z-index: 10;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.logout-menu button {
  background: none;
  border: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
}

.logout-menu button:hover {
  color: red;
}